/* Elementos index -*/
a[title^="Hosted"]{display: none;}


#paglogo{
float: left;
width: 307px;
}
#paglogo:hover{
	filter: contrast(130%) brightness(120%);
}
body{
	background-image: url('../images/body_background.png');
	font-family: 'Charm', cursive;
	background-attachment: fixed;

}
#grande{
	width: 1100px;
	min-height: 700px;
	margin: 0px auto;
	background-color: green;	
}
ul{
	list-style: none;
	font-size: 30px;
}
 .nav,.nav ul{
	 margin: 0px;
	 padding: 0px;
	font-family: ;
	list-style: none;
	line-height: 100px;
}                      
.nav > li{
	float: right;
}
.nav li > ul{
	display: none;
}
.nav li:hover > ul{
display:block;
}
.nav li a{
	display: block;
	border-left: 1px solid wheat;
	padding-left: 30px;
	padding-right: 30px;
	text-decoration: none;
	background: #81050D;
}
.nav li a:hover{
	background:#DF515A;
	text-shadow: 0px 3px 7px black;
}
a{
	text-decoration: none;
	color: wheat;
}
header{
	width: 1100px;
	height: 100px;
	background-color: indianred;
	position: fixed;
	top: 0px;
	z-index: 2;
}
h2{
	font-size: 30px;
}
footer{
	margin-top: -100px;
	width: 1100px;
	height: 30px;
	background: linear-gradient(to bottom, rgba(241,231,103,0.76) 0%, rgba(245,186,59,0.76) 39%, rgba(247,162,35,0.33) 60%, rgba(247,162,35,0.04) 74%);
	text-align: center;
}
#arrow{
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: 80px;
	height: 80px;
}





























/* fin elementos index */


/* Inicio de galería. */

#fondogaleria1{
	width: 1100px;
	min-height: 790px;
	margin: 100px auto;
	background: linear-gradient(to bottom, rgba(255,227,117,0.95) 0%, rgba(255,227,117,0.87) 53%, rgba(255,255,255,0.8) 100%);
	position: relative;
	text-align: center;
	color: black;
}
#compra{
	width: 400px;
	height: 650px;
	background-color: wheat;
	position: absolute;
	left: 35px;
	top: 90px;
	transition: .5s all;
}
#compra:hover{
	transition: .8s all;
	box-shadow: inset 0 0 30px 5px lightsteelblue;
}
#postaldiv{
	margin-top: 60px;
}
#postal:focus{
	box-shadow: inset 0 0 5px 1px lightsteelblue;
	transition: .5s all;
}
#provincia:focus{
	box-shadow: inset 0 0 5px 1px lightsteelblue;
	transition: .5s all;
}
legend{
	font-weight: bold;
}
#mapa{
	margin-top: 40px;
}
#opina{
	width: 600px;
	height: 650px;
	position: absolute;
	right: 35px;
	top: 90px;
	background-color: wheat;
	transition: .5s all;
}
#opina:hover{
	transition: .8s all;
	box-shadow: inset 0 0 30px 5px lightsteelblue;
}
#nocomprado{
	margin-left: 40px;
}
#nogustado{
	margin-left: 40px;
}
#tienes{
	margin-top: 60px;
}
.quieres{
	margin-top: 70px;
}
#comentario{
	margin-top: 70px;
}
#botonazo{
	margin-top: 25px;
	margin-bottom: 14px;
}
#botonazo:hover{
	box-shadow: 4px 4px 6px black;
	transition: .7s all;
}
#comen:focus{
	box-shadow: inset 0 0 5px 1px lightsteelblue;
	transition: .5s all;
}







